body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

/* Hero Section */
.hero {
  background-color: #0f9d58;
  color: white;
  text-align: center;
  padding: 60px 20px;
}

.hero button {
  padding: 12px 25px;
  border: none;
  background-color: green;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

/* Sections */
.section {
  padding: 40px;
  text-align: center;
  background-color: white;
  margin: 20px;
}

/* Features */
.features .box {
  display: inline-block;
  width: 180px;
  padding: 20px;
  margin: 10px;
  background-color: lightseagreen;
  border-radius: 5px;
}

/* Footer */
footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 15px;
}